{% if data|length > 0 %}
.data
{% for var in data -%}
{{ var['name'] }}: {{ var['type'] }} {{ var['value'] }} ;
{% endfor -%}
{% endif %}


.text
{%- for function in text['functions'] %}
{{ function['name']}}:
    {%- for instruction in function['instructions'] %}
    {{ instruction['instruction'] }}{{ ";" if instruction['has_semicolon'] else "" }}
    {%- endfor  %}
{% endfor  %}
